.tweetCurrentMediumWrapper {
  background-color: #212427;
  width: 100%;
}

.tweetCurrentMediumContainer {
  width: 70%;
  margin: 0 auto;
  text-align: center;

  img,
  video {
    margin: 50px auto;
    max-width: 100%;
  }
}

.tweetContentWrapper {
  width: 70%;
  margin: 50px auto;
}

.tweetUserInfoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 8px;

    p {
      padding-bottom: 0;
    }
  }

.tweetUserAvatarWrapper {
  padding-right: 16px;

  img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }
}

.tweetUserNameWrapper {
  display: flex;
  flex-direction: column;

  a {
    font-size: 16px;
    font-weight: 600;
    color: #212427;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 4px;
    line-height: 18px;

    &:hover {
      opacity: 0.7;
    }
  }

  span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    height: 18px;

    &.tweetUserScreenName {
      color: #878a8d;
    }
  }
}

.tweetTweetText {
  font-size: 16px;
  line-height: 24px;
}

.tweetQuotedTweet {
  background-color: #e8ebee;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    opacity: 0.7;
  }
}

.tweetQuotedTweetUser {
  padding: 16px;
  padding-bottom: 0;

  strong {
    color: #878a8d;
    font-size: 12px;
    padding-right: 4px;
  }

  span {
    color: #abadaf;
  }
}

.tweetQuotedTweetText {
  padding: 16px;
  padding-top: 0;
  font-size: 12px;
  color: #abadaf;
}

.tweetRetweetedIcon {
  height: 28px;
  line-height: 28px;
}

.tweetRetweetedUser {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tweetRetweetedUserLink {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #878a8d;
  font-weight: 400;
  text-decoration: none;
  height: 28px;
  line-height: 28px;

  img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 4px;
  }

  span {
    white-space: nowrap;
  }

  &:hover {
    opacity: 0.7;
  }
}

.tweetTweetMeta {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweetCreatedTime {
  color: #878a8d;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

.tweetFavoriteCount {
  padding-right: 1rem;
  display: flex;
  max-width: 50%;
  overflow: hidden;
  color: #878a8d;
  opacity: 1;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

  span:last-child {
    padding-left: 3px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.tweetFavoritedColor {
  color: #e2264d;
}

.tweetCurrentMediumContentWrapper {
  position: relative;
}

.tweetMediumPrev {
  position: absolute;
  left: 0;
  top: 10%;
  width: 15%;
  height: 80%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 0.7;
  transition: opacity linear 0.2s;
  display: none;

  &.tweetMediumPrevEnabled {
    display: flex;
  }

  &:hover {
    opacity: 1;
  }
}

.tweetMediumNext {
  position: absolute;
  right: 15px;
  top: 10%;
  width: 15%;
  height: 80%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  opacity: 0.7;
  transition: opacity linear 0.2s;
  display: none;

  &.tweetMediumNextEnabled {
    display: flex;
  }

  &:hover {
    opacity: 1;
  }
}


.tweetLoadingWrapper {
  text-align: center;
  padding: 100px 0;
}