@font-face {
  font-family: 'SourceSansPro';
  src: url('https://assets.streaming.pics/fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('https://assets.streaming.pics/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('https://assets.streaming.pics/fonts/SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('https://assets.streaming.pics/fonts/SourceSansPro-It.ttf') format('truetype');
  font-style: italic;
}
